{% load static %}
{% load tailwind_cli %}
{% load falco_ui %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="htmx-config" content='{"globalViewTransitions": "true"}' />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <script src="https://unpkg.com/htmx.org@2.0.1"></script>
    <title>Falco UI Demo</title>
    {% tailwind_css %}
    {% falco_ui_script %}
</head>

<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <header class="bg-gray-800 text-white p-4">
        <div class="container mx-auto">
            <h1 class="text-2xl font-bold">Falco UI Demo</h1>
        </div>
    </header>
    <main class="container mx-auto py-5">

        <c-button>A button</c-button>
        
        <c-tabs>
            <c-tab name="Tab 1">Tab 1 content</c-tab>
            <c-tab name="Tab 2">Tab 2 content</c-tab>
            <c-tab name="Tab 3">Tab 3 content</c-tab>
        </c-tabs>
    </main>
</body>

</html>